<div class="flex container mx-auto bg-yellow-200">
  <a href="https://linktr.ee/impulse_sieve">
    <img src="assets/images/cherry.jpg"
         alt="Benjamin standing in front of the Cherry Spoon sculpture in Minneapolis">
  </a>
</div>
